<% provide(:title, "Home") %>

<% if user_signed_in? %>

<% else %>
<center>
<h2>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
</h2>
</center>
<% end %>
