<% provide(:title, "Home") %>

  


<% if user_signed_in? %>

<% else %>
<center>
  
  <button type="button" class="btn btn-info">  
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
  </button>
  <button type="button" class="btn btn-info">
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>    
  </button>

</center>
<% end %>



