
<div class="row">

<div class="col-sm-6">
<div class="container">
<% @post.each do |post| %>

  <div class="center jumbotron">
    <h2><%= post.content %> </h2> 
    <p>hier kann weiterer Text eingefügt werden</p> 
  </div>

  
<% end %>
</div>
<div class="col-sm-4"></div>
</div>