<div class="container">
  <div class="page-header">
      </div>
        </div>
<footer class="footer">
  <div class="container">
<p class="navbar-text pull-right">
    <%= link_to "Über", ueber_path %>  |  
      <%= link_to "Kontakt", kontakt_path %>
</p>
    </div>
  </footer>
