<footer class="footer">
<nav class="navbar navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer">
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "über", ueber_path %></li>
      <li><%= link_to "Kontakt", kontakt_path %></li>
    </ul>
  </div>
</nav>
