<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    
  <% if user_signed_in? %>

  <ul class="nav navbar-nav">
    
  <li class="dropdown">
        </div>
    <button class= "btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Nutzer
 
    <span class="caret"></span></button>
     
    <ul class="dropdown-menu">

    <li><a href="/users">Alle Nutzer</a></li>
    <li><a href="/posts">Alle Posts</a></li>
    <li><%= link_to "Mein Profil", current_user %></li>
    <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    
    </ul>
  </li>
  <button type="button" class="btn btn-danger">Neuer Post</button>
  </ul>
  </div>
<% else %>
<% end %>
</nav>


