<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">


      <ul class="nav navbar-nav"> 

        <% if user_signed_in? %> <!-- only signt in users see curtain header options -->

          <li class="dropdown"> <!-- dropdown Menu-->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nutzer <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users">Alle Nutzer</a></li>
              <li><%= link_to "Mein Profil", current_user %></li>
              
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li> 
          
          <li><a href="/posts">Posts</a></li>  

        <% else %>
        <% end %>
      </ul> 
  </div>
</nav>